body {
    padding: 0 1.5em 1.5em 1.5em;
}
h2 {
    color: rgb(48, 57, 66);
    display: block;
    font-family: 'DejaVu Sans', Arial, sans-serif;
    font-size: 18px;
    height: 19px;
    line-height: 18px;
    margin: 0 0 18px 0;
    padding: 21px 0 13px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

label {
    display: block;
    white-space: nowrap;
}

div#options label {
    padding-bottom: 0.2em;
}

div#tabsList,
div#linksList,
div#options,
label#downloadPathLabel {
    padding-bottom: 18px;
}



/**
 * Lists 
 */

ol {
    list-style: decimal;
    padding-left: 1.5em;
}



/**
 * Download Path 
 */

span#downloadPathDescription {
    font-weight: bold;
}

input#downloadPath {
    width: 30em;
}

span#downloadPathPrefix {
    padding-left: 0.5em;
}



/**
 * Download status 
 */

ol#downloadLog li.logged,
ol#downloadLog li.logged a {
    color: #757575; /*gray*/
    font-style: italic;
}

ol#downloadLog li.interrupted,
ol#downloadLog li.interrupted a {
    color: #f44336; /*red*/
    font-weight: bold;
}

ol#downloadLog li.complete,
ol#downloadLog li.complete a {
    color: #4caf50; /*green*/
    font-weight: bold;
}



/**
 * Options 
 */

div#status {
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 22px;
    vertical-align: bottom;
    text-align: center;
    font-size:14px;
    border-radius: 100%;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 3px solid #3079ed;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s;
}

span#optionsDownloadCustomPathNote {
    font-style: italic;
}

span#optionsDownloadCustomPathNote:before {
    content: "(";
}

span#optionsDownloadCustomPathNote:after {
    content: ")";
}

div#navigation {
    padding-top: 1em;
}



/**
 * Hosters table 
 */

div#hostersInfo table {
    width: 100%;
    margin-bottom: 0.5em;
}

div#hostersInfo table th {
    font-weight: bold;
}

div#hostersInfo table th,
div#hostersInfo table td {
    padding-right: 18px;
    white-space: nowrap;
}

div#hostersInfo table th:last-child,
div#hostersInfo table td:last-child {
    padding-right: 0;
    text-align: right;
}


/**
 * Loading links indicator 
 */

div#loadingLinks:before,
div#loadingLinks:after,
div#loadingLinks {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation-fill-mode: both;
    animation: loadingAnimation 1.8s infinite ease-in-out;
}

div#loadingLinks {
    font-size: 10px;
    margin-top: -3.5em;
    margin-bottom: 3.5em;
    margin-left: 3.5em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

div#loadingLinks:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

div#loadingLinks:after {
    left: 3.5em;
}

div#loadingLinks:before,
div#loadingLinks:after {
    content: '';
    position: absolute;
    top: 0;
}

@keyframes loadingAnimation {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em #000000;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #000000;
    }
}
